html,
body,
#root {
    background: #333333;
    margin: 0;
    padding: 0;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

nav {
    background: #252525;
    max-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.mobileNav {
    max-width: 100vw;
    position: fixed;
}

.hidden {
    display: none !important;
}

#menuBtn {
    display: flex !important;
    position: fixed;
    z-index: 999;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav li {
    list-style: none;
    padding: 8px 40px;
}

nav li:hover {
    background: #0F0F0F;
}

nav .active li {
    background: #0072B2;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav h1 {
    margin: 72px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

#content {
    display: flex;
    flex: 1;
}

#footer {
    background: #444444;
    padding: 8px 32px;
}

#footer a {
    color: #ffffff;
}
